// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'partials/generic/variables.scss';
@import 'partials/generic/mixins.scss';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

body{
    background-image: linear-gradient(-75deg, rgba(98, 6, 142, 0.6) 0%, rgba(12, 34, 149, 0.8) 100%);
}

nav.welcome-navbar{
    padding: 0.32rem 0;
}

a.navbar-brand{
    margin-bottom: .1rem;
}

form div.mb-3 > p{
    background-color: rgba(255,255,255,0.5);
    color: #b10968;
    font-family: monospace;
}

li.page-item.active > span.page-link{
    background-color: #0d9bf0;
}

.image-wrapper >img{
    max-width: 800px;
}

li.nav-item.dropdown > ul.dropdown-menu > li:hover > a{
    color: #9463b8;
    font-weight: bold;
}

// || TYPES
.projectsList-section {
    a:hover {
        font-weight: bold;
    }

}

